.main { 
    background-image: url(img/ensinas_home_photo1.png); 
    background-size: cover; 
    background-position: center;
    height: 100vh;
}

.mainShadow  {
    background-color: rgba(0, 0, 0, 0.774);
    height: 100%;
}

nav { 
    height: 120px;
}

.mainInside { 
    height: calc(100vh - 120px); 
    flex-direction: column; 
    font-family: 'Karla'; 
}

.mainInside h1 { 
    color: white; 
    font-size: 3rem; 
    font-weight: bolder; 
}

.mainInside h4 {
    color: white;
    font-size: 1.2rem;
    margin-top: 20px; 
}

.mainInsideSearch {
    margin-top: 20px; 
    width: 80%; 
}

.mainInsideSearch input { 
    border: unset;
    border-radius: 5px 0px 0px 5px; 
    padding-left: 5px; 
    outline-style: none;  
    width: 60%; 
    height: 45px; 
}

/* .mainInsideSearch input:focus {
    border: 2px solid rgba(255, 102, 0, 0.747);
    border-right: none; 
} */

.mainInside button {
    background-color: #FF6600; 
    border-radius: 0px 5px 5px 0px; 
    width: 45px; 
    height: 45px;
    border: none; 
}

.mainInside button:hover { 
    background-color: rgb(248, 111, 20);
}

.mainInside button img {
    width: 20px; 
}

.mainInside .boxMaterias { 
    margin-top: 5%; 
}

.mainInside .materiasButton {
    margin-right: 10px; 
    flex-direction: column; 
    width: 90px;
    height: 90px;
    background-color: rgba(51, 51, 51, 0.486); 
    border-radius: 5px; 
    transition: all 0.4s; 
    color:white;
}

.mainInside .materiasButton:hover { 
    cursor: pointer;
    background-color: rgb(255, 102, 0); 
}

.mainInside .materiasButton img {
    width: 40px;
}

.mainInside .materiasButton p {
    font-size: 0.8rem; 
    margin: 0px; 
    margin-top: 3px;  
    color: white; 
}

.sectionOne {
    background-color: white; 
    height: 300px; 
}

.sectionTwo {
    background-color: lightgray ; 
    height: 300px; 
}