{%load static%}

<div class="footerLine flex"></div>
<div class="footerDados flex">
    <div class="footerLogo flex">
        <p>Edu<span>Kas</span></p> 
    </div>
    <div class="footerInfos flex">
        <p><i class="fas fa-map-marker-alt"></i> Rua Cheira Bilas, 1942</p> 
        <p><i class="fas fa-phone"></i> (11) 99176-5379</p>
        <p><i class="fas fa-envelope"></i> edukas@edukas.com.br</p>
    </div>
</div>
<div class="footerSocial flex">
    <p>©2019. Todos os direitos reservados. #edu<span>kaS</span></p>
</div>