{%load static%} 

<nav class="flex">

    <div class="navBox maxW flex ">

        <div class="navLeft flex">

            <div class="navBoxLogo flex">

                <img src="{%static 'img/logo.png'%}" alt="">
                <button class="logoText">Edu<span>Kas</span></button>

            </div>

            <div class="navBoxButton flex">

                <button class="navButton">SOBRE NÓS</button>
                <button class="navButton">CONTATO</button>
                <button class="navButton">PROFESSORES</button>

            </div>

        </div>

        <div class="navRight flex">  

            <button class="login">Login</button>
            <div class="boxCadastro flex"><button class="cadastro">Cadastrar-se</button></div> 
            
        </div>

    </div>

</nav>