* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    width: 100%;
}

.maxW {
    max-width: 1366px;
    width: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexC {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

