.main {
    background-image: url(../img/fundo.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.mainShadow {
    background-color: rgba(0, 0, 0, 0.774);
    height: 100%;
}

nav {
    height: 120px;
    padding: 0px 20px;
}

.mainInside {
    height: calc(100vh - 120px);
    flex-direction: column;
}

.mainInside h2 {
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.mainInside h4 {
    color: white;
    font-size: 1.2rem;
    margin-top: 20px;
}

.mainInsideSearch {
    margin-top: 20px;
    width: 80%;
}

.mainInsideSearch input {
    border: unset;
    border-radius: 5px 0px 0px 5px;
    padding-left: 5px;
    outline-style: none;
    width: 60%;
    height: 45px;
}

/* .mainInsideSearch input:focus {
    border: 2px solid rgba(255, 102, 0, 0.747);
    border-right: none; 
} */

.mainInside button {
    background-color: #FF6600;
    border-radius: 0px 5px 5px 0px;
    width: 45px;
    height: 45px;
    border: none;
}

.mainInside button:hover {
    background-color: rgb(248, 111, 20);
}

.mainInside button img {
    width: 20px;
}

.mainInside .boxMaterias {
    margin-top: 5%;
}

.mainInside .materiasButton {
    margin-right: 10px;
    flex-direction: column;
    width: 90px;
    height: 90px;
    background-color: rgba(51, 51, 51, 0.486);
    border-radius: 5px;
    transition: all 0.4s;
    color: white;
}

.mainInside .materiasButton:hover {
    cursor: pointer;
    background-color: rgb(255, 102, 0);
}

.mainInside .materiasButton img {
    width: 40px;
}

.mainInside .materiasButton p {
    font-size: 0.8rem;
    margin: 0px;
    margin-top: 3px;
    color: white;
}

section {
    height: 300px;
    padding-top: 20px;
    width: 100%;
}

section:nth-of-type(odd) {
    background-color: #ffffff;
}

section:nth-of-type(even) {
    background-color: lightgray;
}

section div {
    display: flex;
    flex-direction: column;
}

section h2 {
    font-weight: bold;
    padding-top: 100px;
    font-size: 3.2rem;
    padding: 20px 0px 0px 30px;
}

section p {
    font-size: 1.4rem;
    margin-top: 20px;
    width: 80%;
    align-self: center;
}

#icones>div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.iconBox {
    font-size: 3rem;
    flex-direction: column;
    align-items: center;
}

.iconBox .icons:hover {
    cursor: pointer;
    background-color: #FF6600;
}

.iconBox .icons:hover {
    color: white;
}

.iconBox .icons {
    width: 100px;
    height: 100px;
    transition: all 0.3s;
    border-radius: 100px;
    background: lightgray;
    margin-bottom: 5px;
}

.iconBox h3 {
    margin-top: 5px;
    font-size: 1.6rem;
    font-weight: bolder;
}

.iconBox p {
    font-size: 1.1rem;
    width: 100%;
}