nav {
    width: 100%;
}

.navBox {
    width: 100%;
    justify-content: space-between;
}

.navBox button {
    background: unset;
    border: unset;
}

.navLeft {
    height: 100%;
}

.navLeft button {
    color: white;
    font-weight: bold;
    outline: none;
}

.navBoxLogo {
    margin-right: 40px;
}

.navLeft img {
    width: 100px;
}

.logoText {
    margin-left: 10px;
    font-size: 2rem;
    font-weight: bolder;
}

.logoText span {
    color: #FF6600;
}

.navBoxButton a {
    transition: box-shadow 0.2s;
    transform-origin: left;
    margin-right: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 0 8px;
}

.navBoxButton a:hover {
    box-shadow: 0px 4px 0px -2px #FF6600;
}

.navRight button {
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    outline: none;
}

.navRight .boxCadastro {
    background-color: #FF6600;
    border-radius: 10px;
    height: 40px;
    margin-left: 40px;
    padding: 0 15px;
}

.navRight .login:hover {
    color: #FF6600;
}

.navRight .boxCadastro:hover {
    cursor: pointer;
    background-color: rgb(253, 121, 32);
}

.navRight a{
    text-decoration: none!important; 
}