{% load static %}

<div class="footerLine flex"></div>
<div class="footerDados flex">
    <div class="footerLogo flex">
        <p>Ensi<span>nas</span></p>
    </div>
    <div class="footerInfos flex">
        <p><i class="fas fa-map-marker-alt"></i> Av. Paulista, 1374</p>
        <p><i class="fas fa-phone"></i> (11) 90000-0000</p>
        <p><i class="fas fa-envelope"></i> ensinas@ensinas.com.br</p>
    </div>
</div>
<div class="footerSocial flex">
    <p>©2019. Todos os direitos reservados. #ensi<span>naS</span></p>
</div>