
{% load staticfiles %}

<div class="navBox maxW flex ">
    
    <div class="navLeft flex">
        
        <div class="navBoxLogo flex">
            <img src="{%static 'img/logo.png'%}" alt="">
            <button class="logoText">Ensi<span>nas</span></button>
        </div>
        
        <div class="navBoxButton flex">
        
            <a href="#sobre">Sobre Nós</a>
            <a href="#universitarios">Universitários</a>
            <a href="#universitarios">Estudantes</a>            
        </div>
        
    </div>
    
    <div class="navRight flex">
        
        <a href="{% url 'app_auth_login' %}">
            <button class="login">Login</button>
        </a>        
        <a href="{% url 'app_auth_cadastro' %}">
            <div class="boxCadastro flex">
                <button class="cadastro">Cadastre-se</button>
            </div>
        </a>
        
    </div>
    
</div>