{%load static%}

<nav class="flex">

    <div class="navBox maxW flex ">

        <div class="navLeft flex">

            <div class="navBoxLogo flex">
                <img src="{%static 'img/logo.png'%}" alt="">
                <button class="logoText">Ensi<span>nas</span></button>
            </div>

            <div class="navBoxButton flex">

                <button class="navButton">Sobre Nós</button>
                <button class="navButton">Contato</button>
                <button class="navButton">Professores</button>

            </div>

        </div>

        <div class="navRight flex">

            <button class="login">Login</button>
            <div class="boxCadastro flex"><button class="cadastro">Cadastrar-se</button></div>

        </div>

    </div>

</nav>