{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <link rel="stylesheet" href="{% static 'style/auth_cadastro.css' %}">

    <title>Ensinas - Cadastro</title>
</head>

<body>
    <div id='main'>
        <div class="cadastro">

            <div class="cadastro-texto">
                <p>Está aqui para</p>
                <h2>Aprender?</h2>
                <p>Cadastre-se!</p>
            </div>

            <form method="POST">
                {% csrf_token %}
                {{form_estudante.as_p}}
                <input type="hidden" value="cadastro_estudante" name="do">
                <button>Cadastre-se</button>
            </form>
        </div>

        <div id="logo">
            <a href="{% url 'landing' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
            <a href="{% url 'landing' %}"><h1>Ensi<span>nas</span></h1></a>
            <p>Descubra novos horizontes</p>
            <p>Seu estudo, seu tempo.</p>
        </div>

        <div class="cadastro">
            <div class="cadastro-texto">
                <p>Está aqui para</p>
                <h2>Ensinar?</h2>
                <p>Cadastre-se!</p>
            </div>

            <form method="POST">
                {% csrf_token %}
                {{form_mentor.as_p}}
                <input type="hidden" value="cadastro_mentor" name="do">
                <button>Cadastre-se</button>
            </form>

        </div>
</body>

</html>