{%extends 'template.html'%} 

{%load static %}

{%block content%}
<head>
    <title>CHUPEME</title>
    <link rel="stylesheet" href="{%static 'nav.css'%}">
    <link rel="stylesheet" href="{%static 'footer.css'%}">
    <link rel="stylesheet" href="{%static 'landing.css'%}"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>
<div class="main">
    <div class="mainShadow">
        <nav>
            {%include 'nav.html'%}
        </nav>
        <div class="mainInside flex">
            <h1>DESCUBRA NOVOS HORIZONTES</h1>
            <h4>Seu estudo, Seu tempo</h4>
            <div class="boxMaterias flex">
                <div class="materiasSection flex">

                    <div class="materiasButton flex">
                        <img src="{%static 'img/design-tool.png'%}" alt="">
                        <p> Matemática </p>
                    </div>
                    <div class="materiasButton flex">
                        <img src="{%static 'img/dna.png'%}" alt="">
                        <p> Biologia </p>
                    </div>
                    <div class="materiasButton flex">
                        <img src="{%static 'img/openbook.png'%}" alt="">
                        <p> Português </p>
                    </div>
                </div>
                <div class="materiasSection flex">
                    <div class="materiasButton flex">
                        <img src="{%static 'img/startup.png'%}" alt="">
                        <p> Física </p>
                    </div>
                    <div class="materiasButton flex">
                        <img src="{%static 'img/data.png'%}" alt="">
                        <p> Programacão </p>
                    </div>
                    <div class="materiasButton flex">
                        <img src="{%static 'img/united-kingdom.png'%}" alt="">
                        <p> Inglês </p>
                    </div>
                </div>
            </div>          
        </div>
    </div>
</div>
<div class="sectionOneBox flex">
    <div class="maxW">
        <div class="sectionOne flex">
            <div class="sectionOneIcons flex">
                <span class="icons flex"><i class="fas fa-thumbs-up"></i></span>
                <h3>Feito pra você</h3>
                <p>De estudante pra estudante</p>
            </div>
            <div class="sectionOneIcons flex">
                <span class="icons flex"><i class="fas fa-user-ninja"></i></span>
                <h3>Feito pra você</h3>
                <p>De estudante pra estudante</p>
            </div>
            <div class="sectionOneIcons flex">
                <span class="icons flex"><i class="fas fa-lightbulb"></i></span>
                <h3>Feito pra você</h3>
                <p>De estudante pra estudante</p>
            </div>
        </div>
    </div>
</div>

<div class="sectionTwoBox flex">
    <div class="maxW">
        <div class="sectionTwo">
            <div class="sectionTwoAll">
                <h1>Sobre nós</h1>
                <div class="sectionTwoText flex">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, error laboriosam natus sit consectetur ipsam modi dolore exercitationem hic est temporibus, veritatis saepe. Sapiente tenetur aliquid molestias eaque voluptate id!</p>
                 </div>
            </div>            
        </div>
    </div>
</div>

<div class="sectionTwo flex">
    <div class="maxW">
        <div class="sectionTwo sectionThree">
            <div class="sectionTwoAll">
                <h1>Sobre nós</h1>
                <div class="sectionTwoText flex">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, error laboriosam natus sit consectetur ipsam modi dolore exercitationem hic est temporibus, veritatis saepe. Sapiente tenetur aliquid molestias eaque voluptate id!</p>
                 </div>
            </div>            
        </div>
    </div>
</div>

<div class="sectiontwo flex">
    <div class="maxW">
        <div class="sectionTwo sectionFour">
            <div class="sectionTwoAll">
                <h1>Sobre nós</h1>
                <div class="sectionTwoText flex">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, error laboriosam natus sit consectetur ipsam modi dolore exercitationem hic est temporibus, veritatis saepe. Sapiente tenetur aliquid molestias eaque voluptate id!</p>
                 </div>
            </div>            
        </div>
    </div>
</div>

<footer class="">
    {%include 'footer.html'%}
</footer>


{%endblock%}