{% load static %}
{% load sweetify %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/mentor_home.css' %}">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.all.min.js"></script>

    <title>Ensinas - Mentor</title>
</head>

<body>
    <div id="main">
        <div id="nav-logo">
            <img src="{% static 'img/logo.png' %}" alt="Logo do Ensinas.">
            <h1>Ensi<span>nas</span></h1>
        </div>
        <nav>
            <div id="nav-perfil">
                <ul>
                    <li><h2>{{mentor.nome}}</h2></li>
                    <li><a href="{% url 'app_auth_logout' %}"><i class="fas fa-sign-out-alt"></i></a></li>
                </ul>
            </div>
        </nav>
        <aside>
            <img src="{% static 'img/placeholder.png' %}" alt="">
            <ul>
                <li><h2>{{mentor.nome}}</h2></li>
                <li><i class="fas fa-briefcase"></i>{{mentor.materia.nome}}</li>
                <li><i class="fas fa-university"></i>{{mentor.curso}} {{mentor.instituicao}}</li>
            </ul>
            <button>Editar Perfil</button>
        </aside>
        <section id="content">
            <ul class="alunos">
                {% if solicitacoes.count > 0 %}
                    {% for solicitacao in solicitacoes %}
                        <li class="aluno">
                            <div>
                                <img src="{% static 'img/placeholder.png' %}" alt="">
                                <p>
                                    <span>{{solicitacao.estudante.nome}}</span> quer a sua ajuda!
                                </p>
                            </div>
                            <div>
                                <a href="{% url 'app_mentor_contato' solicitacao.id %}"><button class="contato">Entrar em contato</button></a>
                                <a href="{% url 'app_mentor_ocultar' solicitacao.id %}"><button class="fechar">X</button></a>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                {% endif %}
            </ul>
        </section>
    </div>

    {% sweetify %}
</body>

</html>